restful-api/node_modules/
amazon/node_modules/
restful-api/config.json
.apikey
*/config.json
*/playground.js
.apikey
amazon/amazon_env

*/config.json

speech-interpreter/deepspeech/*.pbmm
speech-interpreter/deepspeech/*.scorer

__pycache__/
*.py[cod]
*$py.class

.DS_Store
